{% extends "base.html" %}
{% load static %}
{%block content%}
<section class="projects">
<h2>Fetured Projects</h2>
<div class="project-card">
    <img src="{% static 'images/project.JPG' %}" alt="">
    <h3>Portfolio project</h3>
</div> 
<div class="project-card">
    <img src="{% static 'images/my1.jpg' %}" alt="">
    <h3>Portfolio website</h3>
</div>
<div class="project-card">
    <img src="{% static 'images/my2.JPG' %}" alt="">
    <h3>E-commerce Store</h3>
</div>
<div class="project-card">
    <img src="{% static 'images/project1.JPG' %} " alt="">
    <h3>Blog Project</h3>
</div>
<div class="project-card">
    <img src="{% static 'images/p1.PNG' %} " alt="">
    <h3>Blog Project</h3>
</div>
<section class="hero">
   <h1>Hello, I'm Shubham</h1>
   <p>MERN,java,python full stack Developer</p>
</section>
</section>
{% endblock %}